
.container {
    width: 85%;
    height: 100vh;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding: 140px 85px;
}


.my-content .container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.my-content .container .content .myself p {
    color: var(--text-color);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.my-content .container .content .myself h1 {
    font-size: 50px;
    color: #fff;
}

.my-content .container .content .myself h2 {
    color: var(--unique-color);
    letter-spacing: 2px;
}
.my-content .container .content .mygithub {
    margin-top: 50px;
}
.my-content .container .content .mygithub p {
    margin-top: 10px;
}
.my-content .container .content .mygithub p:not(.jsform) {
    color: var(--text-color);
}

.git-link {
    color: #FFA1AD;
    cursor: pointer;
}


.snake-game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    max-width: 5000px;
    margin-top: -30px;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    font-family: monospace;
    padding: 30px;
    background: linear-gradient(to bottom right, #175553, #43D9AD21);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: var(--game-color);
    box-shadow: 0 0 20px #0ff3;
    z-index: 1;
}

.snake-game .game-screen {
    background-color: #1D293D;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 220px;
    height: 360px;
    margin-left: -20px;
    margin-top: -30px;
}

.snake-game .game-screen canvas {
    background: #1D293D;
    display: block;
    border-bottom: var(--game-color) solid 1px;
    position: absolute;
    left: 15px;

}
.snake-game .game-screen .message {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.snake-game .game-screen .message span {
    display: block;
    margin-bottom: 8px;
    color: var(--game-color);
}

.snake-game .game-screen .btn {
    background: #1D293D;
    color: var(--text-color);
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.snake-game .game-screen .btn:hover {
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.snake-game .game-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    transform:translateY(-60px);
    -webkit-transform:translateY(-60px);
    -moz-transform:translateY(-60px);
    -ms-transform:translateY(-60px);
    -o-transform:translateY(-60px);
    width: 330px;
    margin-left: 30px;
}

.snake-game .game-panel .first-div{
    background-color: #1D293D;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.snake-game .game-panel .arrows {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    gap: 10px 40px;
    transform: translateX(55px);
    -webkit-transform: translateX(55px);
    -moz-transform: translateX(55px);
    -ms-transform: translateX(55px);
    -o-transform: translateX(55px);
    text-align: center;
    margin-top: 20px;
}

.snake-game .game-panel .arrows .arrow-btn{
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.snake-game .game-panel .food-left {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 5px;
}

.food-dot {
    width: 10px;
    height: 10px;
    background: var(--game-color);
    border-radius: 50%;
}

.snake-game .game-panel .skip-btn {
    display: flex;
    justify-content: center;
    background: transparent;
    color: #e0f2fe;
    border: 1px solid #e0f2fe;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transform: translate(250px, 105px);
    -webkit-transform: translate(250px, 105px);
    -moz-transform: translate(250px, 105px);
    -ms-transform: translate(250px, 105px);
    -o-transform: translate(250px, 105px);
    width: 65px;
    font-size: 17px;
}
.snake-game .game-panel .skip-btn:hover {
    background-color: #fff;
    color: #000;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.screw {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #0ff5;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #000, 0 0 4px #0ff;
}
.top-left {
    top: 5px;
    left: 5px;
}

.top-right {
    top: 5px;
    right: 5px;
}
.bottom-left {
    bottom: 5px;
    left: 5px;
}
.bottom-right {
    bottom: 5px;
    right: 5px;
}

.screw::before,
.screw::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 8px;
    height: 1px;
    background: #022F2E;
    transform-origin: center;
}
.screw::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.screw::after {
    transform: rotate(-45deg);
}



@media (max-width: 1100px) {
    .container {
        width: 50%;
        transform: translateX(-290px);
        -webkit-transform: translateX(-290px);
        -moz-transform: translateX(-290px);
        -ms-transform: translateX(-290px);
        -o-transform: translateX(-290px);
    }
}

@media (max-width: 1000px) {
    section {
        max-height: calc(1000px + 100%);
    }
    .snake-game {
        width: 500px;
    }
    .snake-game .game-panel .arrows {
        margin-left: -55px;
    }
}

@media (max-width: 920px) {
    section {
        max-height: 515px;
    }
    .snake-game {
        display: none;
    }
    .container {
        width: 50%;
        display: flex;
    }
    .content {
        justify-content: center;
        align-items: center;
    }
    .content .myself {
        display: flex;
        flex-direction: column;
    }
    .content .mygithub {
        margin-left: -200px;
    }
    .content .mygithub p:nth-child(1),
    .content .mygithub p:nth-child(2){
        display: none;
    }
    .content .myself h1 {
        width: 800px;
        font-weight: 900;
        font-size: 50px !important;
    }
}

@media (max-width: 848px) {
    section {
        max-height: 515px;
    }
    .snake-game {
        display: none;
    }
    .content .mygithub p:nth-child(1), 
    .content .mygithub p:nth-child(2) {
        display: none;
    }
    .content {
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}
    .content .myself {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .content .myself p {
        position: absolute;
        left: -10px;
        top: -30px;
        font-size: 30px;
        font-weight: 900;
        
    }
    .content .myself h1 {
        width: 1000px;
        font-weight: 900;
        font-size: 80px !important;
    }
    .content .myself h2 {
        margin-left: -30px;
        font-weight: 900;
    }
    .content .mygithub p {
        margin-left: 20px;
        margin-bottom: 120px;
    }

}

@media (max-width: 770px) {
    section {
        max-height: 515px;
    }
}

@media (max-width: 680px) {
    .container {
        width: 30%;
        margin-left: -120px;
    }
    .content .myself h1 {
        font-size: 50px !important;
        margin-left: 80px;
    }
    .content .myself h2 {
        margin-right: 160px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 10%;
        margin-left: -80px;
    }
    .content .myself p {
        margin-left: 30px;
    }
    .content .myself h1 {
        font-size: 45px !important;
        margin-left: 80px;
    }
    .content .myself h2 {
        margin-right: 290px;
    }
}

@media (max-width: 540px) {
    section {
        max-height: 515px;
    }
    .container {
        width: 10%;
        margin-left: -80px;
    }
    .content .myself p {
        margin-left: 30px;
    }
    .content .myself h1 {
        font-size: 45px !important;
        margin-left: 70px;
    }
    .content .myself h2 {
        margin-right: 450px;
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    section {
        max-height: 440px;
    }
    .container {
        width: 10%;
        margin-left: -100px;
    }
    .content .myself p {
        margin-left: 100px;
        font-size: 25px;
    }
    .content .myself h1 {
        font-size: 30px !important;
        margin-left: 95px;
    }
    .content .myself h2 {
        margin-left: -340px;
        font-size: 15px;
    }
    .content .mygithub p {
        margin-left: 84px;
        margin-bottom: 120px;
        font-size: 12px;
        width: 270px;
    }
}
@media (max-width: 375px) {
    section {
        max-height: 440px;
    }
    .container {
        width: 10%;
        margin-left: -100px;
    }
    .content .myself p {
        margin-left: 125px;
    }
    .content .myself h1 {
        font-size: 35px !important;
        margin-left: 135px;
    }
    .content .myself h2 {
        margin-left: -70px;
        font-size: 20px;
    }
    .content .mygithub p {
        position: relative;
        left: 30px;
    }

}
