:root {
    --text-color: #90A1B9;
    --background-color: #314158;
    --unique-color: #615FFF;
    --game-color: #46ECD5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: var(--background-color);
    overflow-x: hidden;

}
a {
    text-decoration: none;
    color: #fff;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: relative;
    border-bottom: var(--text-color) solid 1px;
    height: 55px;
}
.logo {
    color: var(--text-color);
    position: absolute;
    left: 20px;
}
.logo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: orange;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}
.logo:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: relative;
    top: 0;
    left: 200px;
    z-index: 1;
}
header nav ul{
    display: flex;
    list-style: none;
}

header li {
    list-style: none;
}
header a {
    color: var(--text-color);
    text-decoration: none;
    padding: 18px 40px;
    position: relative;
    transition: color 0.3s ease;
}
header a.active {
    border-bottom: 3px solid #FFB86A
}
header a:hover {
    color: #fff;
}
header .home::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--text-color);
    left: 0;
    top: 0;
}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--text-color);
    right: 0;
    top: 0;
}
.contact {
    z-index: 1;
}
.contact-me {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease, color 0.3s ease;
    -webkit-transition: 0.3s ease, color 0.3s ease;
    -moz-transition: 0.3s ease, color 0.3s ease;
    -ms-transition: 0.3s ease, color 0.3s ease;
    -o-transition: 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 1;
    right: 100px;
    padding: 18px 35px 18px 25px !important;
}
.contact-me::before {
    content: '';
    position: absolute;
    width: 1px; 
    height: 100%; 
    background: var(--text-color); 
    left: 0; 
    top: 0;
}
header .icon{
    display: none;
}
header .icon span {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.links .icon,
.links ul{
    display: none;
}
.links {
    position: relative;
}
.links ul {
    display: none;

    
}
.links ul li a {
    color: #fff;
}


/* Responsive */
@media (max-width: 843px) {
    header nav{
        margin-left: -150px
    }
    header .contact {
        margin-right: -20px;
    }
    header .contact-me::before{
        display: none;
    }
}

@media (max-width: 740px) {
    .contact {
        margin-right: 15px;
    }
    .contact-me {
        margin-right: -35px;
    }
}

@media (max-width: 770px) {
    .links .icon {
        position: absolute;
        right: -350px;
        top: 0px;
    }
}

@media (max-width: 704px) {
    header nav {
        display: none;
    }
    .links .icon {
        z-index: 999;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        right: -300px;
        cursor: pointer;
    }
    .links:hover ul {
    display: flex;
    flex-direction: column;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    right: -280px;
    color: #fff;
    top: 30px;
    padding: 0px;
    height: 155px;
    justify-content: center;
    align-items: center;
    width: 300px;
    }
    .links:hover ul::before {
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid var(--text-color);
        width: 0px;
        height: 0px;
        position: absolute;
        top: -11px;
        right: 0;
}
    .links:hover ul li {
        padding: 10px;
        position: relative;
        border-bottom: #314158 solid 1px;
    }
    .links:hover ul li:nth-child(1) {
        width: 175px;
    }
    .links:hover ul li a:hover {
        color: #FFB86A;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
}


@media (max-width: 650px) {
    .links .icon {
        z-index: 999;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        right: -270px;
        cursor: pointer;
    }
    .links:hover ul {
        left: -20px;
    }
}

@media (max-width: 590px) {
    .links .icon {
        z-index: 999;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        right: -220px;
        cursor: pointer;
    }
    .links:hover ul {
        left: -70px;
    }
}

@media (max-width: 430px) {
    .links .icon {
        z-index: 999;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        right: -173px;
        top: 2px;
        cursor: pointer;
    }
}
@media (max-width: 375px) {
    .links .icon {
        z-index: 999;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        right: -140px;
        cursor: pointer;
    }
}

footer {
    display: flex;
    border-top: var(--text-color) solid 1px;
    align-items: center;
    position: relative;
}

footer .find-me {
    color: var(--text-color);
    border-right: var(--text-color) solid 1px;
    padding: 15px 15px;
}

footer li{
    list-style: none;
}

footer li a {
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 15px;
    position: relative;
}
footer ul li a:hover {
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
footer ul li a::after {
    content: '';
    position: absolute;
    top: -3px;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    height: 50px;
    width: 1px;
    align-items: center;
}

footer .rigth-side li {
    position: absolute;
    right: 0;
    top: 10px;
}
footer .rigth-side li::before {
    content: '';
    height: 50px;
    width: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: -10px;
}

footer .rigth-side a:hover {
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}